.parallax-content .wrapper{
	position: absolute; 
	top: 50%; 
	left: 50%;
	height: auto;
	width: 100%;
	
	
}

.parallax-content .content{
	position: relative; 
	top: -50%; 
	left: -50%;
	text-align: center;
		width: 100%;
}

.nav-bar {
	line-height: normal;
	position: fixed !important;
}
.nav ul {
   line-height: normal;
}