/***********************************************************************************************************************************
	Footer
***********************************************************************************************************************************/

footer {
	background-color: #707070;
	color: #fff;
}

footer h6 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400 !important;
}

footer a,
footer a:hover {
	color: #fff;
}

footer #big-footer {
	padding: 20px 0;
}

footer .social-icons {
	margin-top: 20px;
	padding-left: 0;
}

footer .social-icons li {
	display: inline-block;
	margin-right: 32px;
}

footer .social-icons li a:hover, footer .social-icons li a:active, footer .social-icons li a:focus {
	text-decoration: none;
}

footer .social-icons li i {
	font-size: 20px;
}

footer .social-icons li:child-last {
	margin-right: 0;
}

footer .social-icons li .icon-linkedin:hover,
footer .social-icons li .icon-linkedin:active,
footer .social-icons li .icon-linkedin:focus {
   color: #0077B5 ;
}

footer .social-icons li .icon-facebook:hover,
footer .social-icons li .icon-facebook:active,
footer .social-icons li .icon-facebook:focus {
   color: #425F9C ;
}

footer .social-icons li .icon-twitter:hover,
footer .social-icons li .icon-twitter:active,
footer .social-icons li .icon-twitter:focus {
   color: #1DA1F2 ;
}

footer .social-icons li .icon-youtube:hover,
footer .social-icons li .icon-youtube:active,
footer .social-icons li .icon-youtube:focus {
   color: #c4302b ;
}

footer .social-icons li .icon-instagram:hover,
footer .social-icons li .icon-instagram:active,
footer .social-icons li .icon-instagram:focus {
   color: #262626 ;
}

footer .social-icons li .icon-google-plus:hover,
footer .social-icons li .icon-google-plus:active,
footer .social-icons li .icon-google-plus:focus {
   color: #d34836 ;
}

footer #corporate-footer {
	padding: 20px 0;
}

footer .btn, footer input {
	border: 1px solid #fff;
	background: transparent;
	transition: all 0.2s ease-in-out;
	padding: 10px;
	border-radius: 3px;
}

footer .btn {
	min-height: 40px;
    width: 200px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

footer input {
	min-height: 30px;
	padding: 0;
	width: 230px;
}

footer .btn:hover,footer .btn:active,footer .btn:focus {
	background: #fff !important;
	color: #444b50 !important;
	border-color:#fff !important;
}

footer .btn:focus, footer input {
	outline: none !important;
}

footer input {
	padding: 10px 20px 10px 10px;
	margin-bottom: 20px;
}

footer .bg-danger {
    background-color: red;
    padding: 5px;
    width: 64%;
    font-weight: 700 !important;
    display:none;
}

footer .bg-success {
    background-color: #337ab7;
    padding: 5px;
    width: 64%;
    font-weight: 700 !important;
    display:none;
}

footer input::-webkit-input-placeholder {
   color: #fff;
}

footer input:-moz-placeholder { 
   color: #fff;  
}

footer input::-moz-placeholder { 
   color: #fff;  
}

footer input:-ms-input-placeholder {  
   color: #fff;  
}

footer input[type="submit"]:hover {
    background: #fff none repeat scroll 0 0;
    color: #444b50;
}

@media (max-width: 767px) {
	footer #big-footer{
		text-align:center;
	}

	footer .btn , footer input {
		width:100%;
	}

	footer .bg-success {
		width: 100%;
	}
}

@media (max-width: 479px) {
	footer .social-icons li {
	    margin-right: 23px;
	}
}

#big-footer h6 { color:#ffffff ;}